<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">   
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body class="w3-black">
  <div id="title" class="w3-center w3-padding-large">
    <h1>Is this Forecast Accurate?</h1>
    <br>
  </div>
<main>
    
    <div id="weatherContents" class="w3-container w3-row w3-deep-purple w3-padding-large w3-border w3-border-black w3-round-large">
      <div id="firstHalf" class="w3-container w3-half w3-padding-large">
          <div id="locationName" class="w3-padding-large">
              <br>
              <h2>Location</h2>
              <hr>
              <h3><%= location %></h3>
            </div>
            <br>
            <div id="type" class="w3-padding-large">
              <h2>Type</h2>
              <hr>
              <h3><%= type %></h3>
            </div>
      </div>
      <br>      
      <div id="secHalf" class="w3-container w3-half w3-padding-large">
          <div id="date" class="w3-padding-large">
              <h2>Date</h2>
              <hr>
              <h3><%= date %></h3>
            </div>
            <br>
            <div id="stateName" class="w3-padding-large">
              <h2>Weather</h2>
              <hr>
              <h3><%= name %></h3>
            </div>      
      </div>
      
    </div>      
</main>

</body>
</html>
